// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "octicon-mixins";
@import "./icons";

.ruby-debugger {
  width: 20vw;
  min-width: 320px;
  cursor: default;
  height: 100%;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  
  .rd-scroll-area {
    -webkit-box-flex: 1;
    box-flex: 1;
    overflow: hidden;
    overflow-y: auto;
  }
  
  [rv-toggle-panel] {
    .panel-heading {
      .octicon(chevron-down, 12px);
    }
    
    &.collapsed {
      .panel-heading {
        .octicon(chevron-right, 12px);
      }
      
      .panel-body {
        display: none;
      }
    }
  }
  
  .rd-commands {
    .connect {
      width: 80px;
    }
    
    [class^="rd-icon-"],
    [class*=" rd-icon-"] {
      font-size: 32px;
      margin: 0 -5px;
    }
  }
  
  .rd-call-stack {
    .current {
      color: @text-color-selected;
      background-color: @background-color-selected;
    }
    
    .row-no {
      text-align: right;
    }
  }
  
  .rd-watch-expressions {}
  .rd-variables {}
  .rd-console {}
  .rd-breakpoints {}
}
